<link href="~/css/non-admin-style/mesage-successful.css" rel="stylesheet">


<div class="notification-container">
    <div class="notification-card">
        <div class="icon-success">✓</div>
        <h1>CẢM ƠN BẠN ĐÃ GỬI ĐÁNH GIÁ</h1>
        <p>Ý kiến của bạn giúp chúng tôi sẽ phục vụ tốt hơn.</p>
        <button class="btn-return" onclick="window.location.href='/'">Quay lại trang chủ</button>
    </div>
</div>
