@{
    Layout = "";
}

@model TienLuxury.Areas.Admin.ViewModels.ChangePasswordViewModel;

<link href="~/css/admin-style/change-password-form-style.css" rel="stylesheet" />

<form class="modal-content p-41" id="changePasswordForm" method="post" asp-action="ChangePassword" asp-controller="Admin">
    <h2>Đổi mật khẩu</h2>

    <div class="form-group mb-3">
        <label asp-for="OldPassword">Mật khẩu cũ</label>
        <input asp-for="OldPassword" type="password" class="form-control" id="OldPassword" name="OldPassword"  />
        @* <span asp-validation-for="OldPassword" class="text-danger"></span> *@
    </div>

    <div class="form-group mb-3">
        <label asp-for="NewPassword">Mật khẩu mới</label>
        <input asp-for="OldPassword" type="password" class="form-control" id="NewPassword" name="NewPassword"  />
        @* <span asp-validation-for="NewPassword" class="text-danger"></span> *@
    </div>

    <div class="form-group mb-4">
        <label asp-for="ConfirmPassword">Nhập lại mật khẩu mới</label>
        <input asp-for="OldPassword" type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword"  />
        @* <span asp-validation-for="ConfirmPassword" class="text-danger"></span> *@
    </div>

    <div id="changePasswordMessage" style="display: none;"></div>

    <div class="btn-container">
        <button type="submit" class="btn btn-primary flex-fill">Xác nhận</button>
        <button type="button" class="btn btn-secondary flex-fill" onclick="closeChangePasswordForm()">Đóng</button>
    </div>
</form>
<script src="~/js/admin-script/check-validation-password.js"></script>